{% extends 'base/base.html' %}
{% load static %}

{% block meta_css %}
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'webuploader/webuploader.css' %}">

    <!--引入JS-->
    <script type="text/javascript" src="{% static 'webuploader/webuploader.js' %}"></script>

    <!--SWF在初始化的时候指定，在后面将展示-->
    文件上传
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">个人资料</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <li>
            <a href="">
                <i style="margin-top: 25px;">头像</i>
                <div class="infor-pic">
                    <img id="head_img" src="{{ MEDIA_URL }}{{ head }}"/>
                </div>
            </a>
        </li>
        <!--dom结构部分-->
        <div id="uploader-demo">
            <!--用来存放item-->
            <div id="fileList" class="uploader-list"></div>
            <div id="filePicker">选择图片</div>
        </div>

        <ul class="safty1">

            <li>
                <i>昵称</i>
                {{ form.nickname }}
            </li>
            <li>
                <a href="">
                    <i>性别</i>
                    <i class="infor-tele">
                        <label class="am-radio-inline">
                            {{ form.sex.1 }}
                        </label>
                        <label class="am-radio-inline">
                            {{ form.sex.2 }}
                        </label>
                        <label class="am-radio-inline">
                            {{ form.sex.3 }}
                        </label>
                    </i>
                </a>
            </li>
            <li>
                <i>生日</i>
                {{ form.born }}value=""/>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                {{ form.school }}
            </li>
            <li>
                <i>位置</i>
                {{ form.address }}
            </li>
            <li>
                <i>故乡</i>
                {{ form.hometown }}
            </li>
            <li>
                <i>手机</i>
                {{ form.tel }}

            </li>
        </ul>
        <input type="submit" style="float:right" value="确认修改">
    </form>
{% endblock %}
{% block footer %}
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'goods:index' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'shopcar:showshopcar' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:center' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer_js %}
    <script>
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "{% static 'webuploader/Uploader.swf' %}",

            // 文件接收服务端。
            server: "{% url 'user:head' %}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            $img = $("#head_img");
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                $img.attr('src', src);
            }, 100, 100);
        });
    </script>
{% endblock %}